.info-section {
  position: absolute;
  left: 270px;
  top: 0;
  max-width: 1200px;
  transition: all 0.3s;

  & > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 50px;
  }

  // Block "About"
  .about {
    padding-top: 20px;
    transition: all 0.3s;

    h1 {
      span {
        color: $menu;
      }
    }

    .subheading {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 70px;
      transition: all 0.3s;

      h4,
      a {
        font-family: "Saira Extra Condensed", sans-serif;
        color: $about-color;
        text-transform: uppercase;
        transition: all 0.3s;
      }

      a {
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        margin-left: 5px;
        color: $menu;
        transition: all 0.3s;
      }
    }

    p {
      width: 85%;
      transition: all 0.3s;
    }

    .social-icons {
      margin-top: 50px;
      display: flex;
      transition: all 0.3s;

      a {
        margin-right: 30px;
        height: 56px;
        width: 56px;
        display: block;

        &.social-icon-linkedin {
          background: url("../img/linkedin.png");
          background-size: cover;
          transition: all 0.3s;

          &:hover {
            background: url("../img/linkedin (1).png");
            background-size: cover;
          }
        }

        &.social-icon-xing {
          background: url("../img/xing.png");
          background-size: cover;
          transition: all 0.3s;

          &:hover {
            background: url("../img/xing (1).png");
            background-size: cover;
          }
        }

        &.social-icon-github {
          background: url("../img/github.png");
          background-size: cover;
          transition: all 0.3s;

          &:hover {
            background: url("../img/github (1).png");
            background-size: cover;
          }
        }
      }
    }
  }

  // Block "Experience"
  .experience {
    transition: all 0.3s;

    .experience__block {
      transition: all 0.3s;

      .experience__left {
        width: 75%;
        transition: all 0.3s;

        h4 {
          margin-bottom: 30px;
        }
      }

      .experience__right {
        transition: all 0.3s;
      }
    }
  }

  // Block "Education"
  .education {
    padding-top: 20px;
    transition: all 0.3s;

    .education__block {
      transition: all 0.3s;

      .education__left {
        width: 75%;
      }

      .education__right {
        transition: all 0.3s;
      }
    }
  }

  // Block "Skills"
  .skills {
    padding-top: 20px;
    transition: all 0.3s;

    h2 {
      margin-bottom: 40px;
    }

    .skills__block {
      margin-bottom: 40px;
      transition: all 0.3s;

      h4 {
        margin-bottom: 30px;
      }

      .skills__icons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        transition: all 0.3s;

        img {
          width: 45px;
          height: 50px;
          margin: 0 10px 10px 0;
          transition: all 0.3s;
        }
      }

      .skills__list {
        transition: all 0.3s;

        nav {
          ol {
            list-style-type: none;
            li {
              color: $about-color;
              font-family: "Roboto", sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;

              img {
                height: 16px;
                vertical-align: middle;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  // Block "Interests"
  .interests {
    padding-top: 0;
    transition: all 0.3s;
  }

  // Block "Works"
  .works {
    padding-top: 0;
    transition: all 0.5s;

    .works-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .item {
        display: flex;
        flex-direction: column;
        margin: 0 40px 40px 0;

        a {
          img {
            max-width: 100%;
            height: auto;
          }
        }

        .item:last-child {
          margin-right: 0;
        }

        .buttons {
          margin-top: 10px;
          padding: 0 40px;
          display: flex;
          justify-content: space-between;

          a {
            text-decoration: none;
            padding: 5px 15px;
            font-size: 20px;
            color: $text-color;
            transition: all 0.3s;
          }

          a:hover {
            border-radius: 10px;
            padding-bottom: 5px;
          }

          a::after {
            content: "";
            display: block;
            width: 100%;
            background-color: $text-color;
            height: 2px;
            transform: scale(0);
            transition: all 0.3s;
          }

          a:hover::after {
            transform: scale(1);
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .info-section {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 15px;

    .about,
    .education,
    .skills,
    .interests,
    .works {
      padding-top: 80px;
    }

    .works {
      .works-items {
        justify-content: start;
      }
    }
  }
}

@media (max-width: 685px) {
  .info-section {
    .experience {
      .experience__block {
        flex-direction: column;

        .experience__left {
          width: 100%;
        }

        .experience__right {
          padding-top: 20px;
        }
      }
    }

    .education {
      .education__block {
        flex-direction: column;

        .education__left {
          width: 100%;
        }

        .education__right {
          padding-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .info-section {
    .about {
      p {
        width: 100%;
      }
    }
  }
}

@media (max-width: 530px) {
  .info-section {
    .works {
      .works-items {
        .item {
          .buttons {
            padding: 0 10px;
            a {
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .info-section {
    & > div {
      padding: 20px;
    }

    .experience,
    .interests {
      padding-top: 60px;
    }

    .works {
      padding-top: 40px;
    }

    h2 {
      margin-bottom: 30px;
    }
    .about {
      .social-icons {
        a {
          height: 40px;
          width: 40px;
          margin-right: 20px;
        }
      }
    }
  }
}
